node_modules

/.cache
/build
.env
.react-router

# storybook

# playwright
/storybook-static
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# prisma
prisma/*.db
prisma/*.db-journal